@import '../../styles/variables.scss';

@import './_fixed-width/fixed-width.scss';

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
  cursor: pointer;
  font-family: $mainFont;
  font-size: 14px;
  font-weight: 400;
  color: inherit;

  &__arrow {
    border: solid;
    border-width: 0 1px 1px 0;
    border-color: inherit;
    display: inline-block;
    padding: 0.1875rem;
  }

  &__arrow_down {
    transform: rotate(45deg); 
    margin: 0px 2px 2px 0px;
  }

  &__arrow_up {
    transform: rotate(225deg);
  }

  &__text-placeholder {
    display: inline-block;
    margin: 0px 7px 0px 0px;
    padding-left: 0px;
    font-size: 14px;
    letter-spacing: 0.00rem;
    color: inherit;
  }
}

.js-dropdown__invisible {
  display: none;
}

.list-of-options {
  position: absolute; 
  margin-top: 0;
  padding: 0.185rem 0.0rem 0.3125rem 0rem;
  background-color: white;
  outline-offset: -0.0625rem;
  list-style: none;
  z-index: 3;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 12.5px;
  }

  &__title-item {
    line-height: 20px;
    padding-left: 18px;
    margin: 0px;
    font-family: $mainFont;
    font-size: 14px;
    color: $text;

    &:hover {
      color: inherit;
    }
  }
}

@media (max-width: 1000px) {
    
  .list-of-options {
    position: static;
  }
}

