.contacts.contacts_burger-menu {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 25px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: black;
}

.contacts__email.contacts__email_burger-menu {

}

.contacts__phone.contacts__phone_burger-menu {

}

.contacts__geo.contacts__geo_burger-menu {

}

.contacts__geo-text.contacts__geo-text_burger-menu {

}

.contacts__geo-dropdown.contacts__geo-dropdown_burger-menu {

}