.text-field_text {
    box-sizing: border-box;
    width: 100%;
    max-height: 400px;
    height: 100%;
    padding-top: 18px;
    padding-left: 22px;
    font-family: $mainFont;
    font-size: 13px;
    line-height: 14px;
    color: $text1;
    resize: none;
}

input.text-field_text::placeholder {
    transform: translateY(-74px) translateY(50%);
    letter-spacing: 0.5px;
}