@import '../../styles/variables.scss';

@import '_arrow-big/arrow-big.scss';
@import '_arrow-small/arrow-small.scss';
@import '_arrow-blue/arrow-blue.scss';

.button {
    height: 60px;
    padding-left: 22px;
    padding-right: 23px;
    border: none;
    border-radius: 6px;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
    background: #009FE3;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

@media (max-width: 850px) {
    .button {
        height: 56px;
        padding: 0px 30px 0px 30px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}