include ../dropdown-link/dropdown-link.pug

mixin text-slider()
  -
    nullLink = {
      href : "noLINK",
      textLink : "Предварительные и периодические медицинские осмотры (профосмотры)",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "Осуществляем:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId : "tab-0",
      checked : "checked",
    };
    firstLink = {
      href : "noLINK",
      textLink : "Выездные медицинские осмотры (профосмотры)",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "Осуществляем:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId : "tab-1",
    };
    aLink = {
      href : "noLINK",
      textLink : "Личные медицинские книжки (ЛМК)",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "AAAAAAAAA:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-2",
    };
    bLink = {
      href : "noLINK",
      textLink : "Психиатрическое освидетельствование",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "bb:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-3",
    };
    cLink = {
      href : "noLINK",
      textLink : "Предрейсовые/послерейсовые медицинские осмотры",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "cc:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-4",
    };
    dLink = {
      href : "noLINK",
      textLink : "Предсменные/послесменные медицинские осмотры",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "dd:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-5",
    };
    eLink = {
      href : "noLINK",
      textLink : "Организация здравпункта на предприятии",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "ee:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-6",
    };
    fLink = {
      href : "noLINK",
      textLink : "Диспансеризация",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "ffffA:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-7",
    };
    gLink = {
      href : "noLINK",
      textLink : "Вакцинация",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "gggA:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-8",
    };
    hLink = {
      href : "noLINK",
      textLink : "Помощь в организации аттестации рабочих мест (СОУТ)",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "ghhhhhAA:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-9",
    };
    iLink = {
      href : "noLINK",
      textLink : "Тендерный отдел",
      descriptionHeaderText : "Сеть медицинских центров «Деломедика» присутствует и аккредитована на 6 государственных ЭТП (электронная торговая площадка) и более 100 коммерческих.",
      descriptionTitleList : "IIIIIIII:",
      descriptionListItem : [
        "электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;",
        "закупки в электронном магазине Московской области, а также на порталах поставщиков;",
        "закупки по 44ФЗ и 223ФЗ.",
      ],
      descriptionAfterList : "Предоставляем персонального менеджера",
      button : ["arrow-big", "Рассчитать стоимость"],
      tabId: "tab-10",
    };

  .text-slider
    .text-slider__tabs
      +dropdown-link(nullLink)
      +dropdown-link(firstLink)
      +dropdown-link(aLink)
      +dropdown-link(bLink)
      +dropdown-link(cLink)
      +dropdown-link(dLink)
      +dropdown-link(eLink)
      +dropdown-link(fLink)
      +dropdown-link(gLink)
      +dropdown-link(hLink)
      +dropdown-link(iLink)
  