@import '../dropdown-link/dropdown-link.scss';

.text-slider {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 1px 14px;
    font-family: $mainFont;
    font-size: 16px;
    
    &__header {
        width: 100%;
        margin-top: 288px;
        margin-bottom: 55px;
        padding-left: 2px;
        font-family: "Gotham Pro Medium";
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        color: $text1
    }

    &__link-mask {
        position: absolute;
        width: min-content;
        margin: 0px 0px 0px 0px;
    }

    &__links {
        display: flex;
        flex-flow: column nowrap;
        max-width: 648px;
        width: 100%;
        line-height: 56px;
        padding-left: 16px;
    }



    &__tabs {
        position: relative; 
        margin: 0;
        padding-top: 8px;
        display: flex;
        flex-flow: column nowrap;
    
        &::before {
            content: "";
            display: table;
        }
    
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}