mixin text-slider()
  .text-slider
    .text-slider__links
      figure.text-slider__link-mask 
        svg.text-slider__link-mask-image(width="685" height="60" viewBox="0 0 685 60" fill="none")
          path(id="service-link-active" d="M0 4C0 1.79086 1.79086 0 4 0H666.822C668.329 0 669.708 0.84686 670.39 2.1908L684.051 29.1289C684.645 30.3006 684.626 31.6894 684 32.8444L670.414 57.9063C669.714 59.1964 668.365 60 666.897 60H3.99998C1.79084 60 0 58.2091 0 56V4Z" fill="#ECEEF2")
        figcaption.text-slider__link-mask-description  Выбранный элемент
      a.text-slider__link.text-slider__link_active(href="noLink") Предварительные и периодические медицинские осмотры (профосмотры)
      a.text-slider__link(href="noLink") Выездные медицинские осмотры (профосмотры)
      a.text-slider__link(href="noLink") Личные медицинские книжки (ЛМК)
      a.text-slider__link(href="noLink") Психиатрическое освидетельствование
      a.text-slider__link(href="noLink") Предрейсовые/послерейсовые медицинские осмотры
      a.text-slider__link(href="noLink") Предсменные/послесменные медицинские осмотры
      a.text-slider__link(href="noLink") Организация здравпункта на предприятии
      a.text-slider__link(href="noLink") Диспансеризация
      a.text-slider__link(href="noLink") Вакцинация
      a.text-slider__link(href="noLink") Помощь в организации аттестации рабочих мест (СОУТ)
      a.text-slider__link(href="noLink") Тендерный отдел
    .text-slider__offer
      p.text-slider__text-offer Сеть медицинских центров «Деломедика» присутствует и аккредитована 
        br
        | на 6 государственных ЭТП (электронная 
        br
        | торговая площадка) и более 100 коммерческих.
      h4.text-slider__title-list Осуществляем:
      ul.text-slider__list
        li.text-slider__list-item электронный документооборот в ПИК (Портал исполнения контрактов) и ЕАСУЗ (Единая Автоматизированная Система Управлениями Закупками), Контур Диадок;
        li.text-slider__list-item закупки в электронном магазине Московской области, а также на порталах поставщиков;
        li.text-slider__list-item закупки по 44ФЗ и 223ФЗ.
      p.text-slider__text-after-list Предоставляем персонального менеджера
      .text-slider__button-offer 
        +button(["arrow-big", "Рассчитать стоимость"])