@import '../button/button.scss';
@import '../text-field/text-field.scss';

@import './_size-s/size-s.scss';
@import './_stretches/stretches.scss';

.mask {
    margin: 0px;
}

figcaption {
    display: none;
    opacity: 0;
}

.mask-feedbackForm {
    height: 16px;
}

.feedbackForm {
    max-width: 382px;
    min-width: 300px;
    width: 100%;
    height: 466px;
    padding: 44px 32px 68px 24px;
    background-color: #ffffff;
    -webkit-clip-path: url(#shield);
    clip-path: url(#shield);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &__offer-text {
        padding-right: 7px;
        padding-left: 2px;
        font-family: $mainFont;
        font-size: 15px;
        line-height: 20px;
        color: $text1;
        
    }

    &__text-field {
        margin-top: 30px;
        padding-right: 4px;
    }
    &__button {
        margin-top: 12px;
    }
    &__offer-agreement {
        width: 67%;
        margin: 26px auto;
    }
    &__text-offer-agreement {
        font-family: $mainFont;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: $text;
    }

    &__link-offer-agreement {
        display: inline-block;
        font-family: $mainFont;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: $blue;
    }    
}