mixin phone(options)
  .container-text-field
    input( id=options.id type="text" class="text-field text-field_phone")
    label(for=options.id class="text-field__placeholder_phone") Ваш номер телефона
      span.text-field__placeholder-symbol_phone *

