.container-text-field {
    position: relative;
}

.text-field:focus ~ .text-field__placeholder_phone{
    opacity: 0; 
    transition: 
    opacity 0.8s ease;
}

.text-field__placeholder-symbol_phone {
    color: #E4373D;
}

.text-field__placeholder_phone {
    position: absolute;
    left: 22px;
    top: 23px;
    font-family: $mainFont;
    font-size: 13px;
    color: $text1;
    text-overflow: ellipsis;
    z-index: 2;
}


