@font-face {
    font-family: "Gotham pro Light";
    src: url('../../fonts/GothamPro/Gotham Pro Light.woff'),
        url('../../fonts/GothamPro/Gotham Pro Light.ttf'),
        url('../../fonts/GothamPro/Gotham Pro Light.svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham pro Medium";
    src: url('../../fonts/GothamPro/Gotham Pro Medium.woff'),
        url('../../fonts/GothamPro/Gotham Pro Medium.ttf'),
        url('../../fonts/GothamPro/Gotham Pro Medium.svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham pro";
    src: url('../../fonts/GothamPro/Gotham Pro Regular.woff'),
        url('../../fonts/GothamPro/Gotham Pro Regular.ttf'),
        url('../../fonts/GothamPro/Gotham Pro Regular.svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto/Roboto-Medium.woff'),
        url('../../fonts/Roboto/Roboto-Medium.ttf'),
        url('../../fonts/Roboto/Roboto-Medium.svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Akshar";
    src: url('../../fonts/Akshar/akshar.woff'),
        url('../../fonts/Akshar/akshar.ttf'),
        url('../../fonts/Akshar/akshar.svg');
    font-weight: 400;
    font-style: normal;
}