extends ../../components/mainTemplate.pug

include ../../components/header/header.pug
include ../../components/button/button.pug
include ../../components/radio-button/radio-button.pug
include ../../components/text-field/text-field.pug
include ../../components/contacts/contacts.pug
include ../../components/dropdown/dropdown.pug
include ../../components/offer/offer.pug
include ../../components/feedbackForm/feedbackForm.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Деломедика, Медецинский центр',
        description: 'Проведение профосмотров с выездом в Вашу организацию'
    };

block title
  title Деломедика
block content 
  -
    const navigation = [
      {href: "#podbor", text: "Подбор профосмотра"}, 
      {href: "#Services", 
        text_placeholder : "Услуги",
        dropdownNavLink: true,
        dropdownItems: [
          {href: "noLink", text: "Предварительные и периодические медицинские осмотры (профосмотры)"},
          {href: "noLink", text: "Личные медицинские книжки (ЛМК)"},
          {href: "noLink", text: "Психиатрическое освидетельствование"},
          {href: "noLink", text: "Предрейсовые/послерейсовые медицинские осмотры"},
          {href: "noLink", text: "Предрейсовые/послерейсовые медицинские осмотры"},
          {href: "noLink", text: "Организация здравпункта на предприятии"},
          {href: "noLink", text: "Диспансеризация"},
          {href: "noLink", text: "Вакцинация"},
          {href: "noLink", text: "Помощь в организации аттестации рабочих мест (СОУТ)"},
          {href: "noLink", text: "Тендерный отдел"} 
        ]
      },
      {href: "/about", text: "О медцентре"},
      {href: "/gallery", text: "Галерея"},
      {href: "/thanks", text: "Благодарности"},
      {href: "/license", text: "Лицензии"},
      {href: "/contacts", text: " Контакты"},
    ];
    const headerContacts = {
      text_placeholder: "Королёв",
      content: ["Москва", "Казань", "Санкт-Петербург", "Находка"],
      email: "prof@diamed.group",
      phone: "+7 (495) 281 53 33",
    };

    const burgerContacts = {
      forBurgerMenu: true,
      text_placeholder: "Королёв",
      content: ["Москва", "Казань", "Санкт-Петербург", "Находка"],
      email: "prof@diamed.group",
    };
    const header = {
      menu: navigation,
      contacts: headerContacts,
      mobileContacts: burgerContacts,
    };

    const benefits1 = {
      alt: "Полный цикл обслуживания",
      title: "Сделаем за вас все:",
      description: "от подбора типа профосмотра до выдачи всех документов",
      image: "benefit1.svg",
      modifier: "cycle",
    };

    const benefits2 = {
      alt: "Полный цикл обслуживания",
      title: "Работаем строго по 302н",
      description: "Приказу Минздравсоцразвития",
      image: "benefit2.svg",
      modifier: "list",
    };

    const benefits3 = {
      alt: "Полный цикл обслуживания",
      title: "Результаты профосмотра ",
      description: "всего за 7 дней",
      image: "benefit3.svg",
    };

    const offer = {benefits: [benefits1, benefits2, benefits3]};

  header.container
    +header(header)
  main
    section.first-screen
      .first-screen__content.container
        .first-screen__offer 
          +offer(offer)
        .first-screen__image
        .first-screen__feedback-form
          +feedbackForm()