extends ../../components/mainTemplate.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Деломедика, Медецинский центр',
        description: 'Проведение профосмотров с выездом в Вашу организацию'
    };

block title
  title Деломедика
block content 

  header.container
   
  main
    .slide-first
    .slide-second
    .slide-third
    section.landing-page.container
      
      .promo-text
        p HЛучшие номера для вашей работы, отдыха и просто вдохновения
  footer.container
   
    