@import '../../components/mainTemplate.scss';

@import '../../components/header/header.scss';
@import '../../components/button/button.scss';
@import '../../components/radio-button/radio-button.scss';
@import '../../components/text-field/text-field.scss';
@import '../../components/contacts/contacts.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/offer/offer.scss';
@import '../../components/feedbackForm/feedbackForm.scss';
@import '../../components/refinement-slider/refinement-slider.scss';

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header__logo {
    margin-top: 7px;
    margin-left: 8px;
}

.header__image-logo {
    margin-top: 2px;
}

.header__divider {
    margin: 4px 24px 0px 20px;
}

.header__text-logo {
    & p {
        padding-top: 13px;
        margin: 0px;
        line-height: 22px;
        letter-spacing: -0.4px;
    }
}

.first-screen {
    margin-top: 21px;
    background: linear-gradient(105.08deg, #E1E9EF 22.02%, #C8D4DF 93.22%);
}

.first-screen__content {
    height: 833px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}

.first-screen__image {
    z-index: 6;
    position: absolute;
    width: 683px;
    height: 740px;
    bottom: 0px;
    right: 0px;
    margin: 0px 320px 0px 0px;
    background-image:
      url(../../images/girl2.svg);
}

.first-screen__offer {
    display: flex;
    align-items: center;
    width: 425px;
    padding-top: 15px;
    padding-left: 9px;
    z-index: 7;
}

.first-screen__feedback-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.inspection-selection {
    text-align: center;
    padding-top: 110px;
}

.inspection-selection__title {
    margin-left: 2px;
    font-family: 'Gotham Pro Medium';
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: $text1;
}

.inspection-selection__header-text {
    max-width: 800px;
    margin: 39px auto 0px auto;
    padding-right: 4px;
    font-family: 'Gotham Pro Light';
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: $text1;
}

.inspection-selection__slider {
    padding-top: 52px;
    padding-left: 15px;
}

@media (max-width: 1000px) {
    .container {
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .first-screen__content {
        height: auto;
        justify-content: space-between;
    }

    .first-screen__image {
      display: none;
    }

    .first-screen__offer {
        align-items: flex-start;
        width: 425px;
        padding-left: 0px;
        padding-bottom: 3px;
        z-index: 1;
    }

    .first-screen__feedback-form {
        justify-content: flex-start;
        margin-top: 20px;
    }
}

@media (max-width: 850px) {
    .container {
        padding: 0px 0px;
    }

    .first-screen__content {
        justify-content: center;
        min-height: 500px;
    }

    .first-screen__offer {
        padding: 0px;
    }

    .first-screen__feedback-form {
        display: none;
    }

    .inspection-selection {
        padding-top: 40px;

        &__title {
            font-size: 21px;
            line-height: 28px;
            color: $text1;
            letter-spacing: 0.1px;
        }

        &__header-text {
            font-size: 15px;
            line-height: 20px;
            color: $text1;
        }

        &__slider {
            padding-top: 15px;
            padding-left: 0px;
        }
    }

}