@import '../../styles/variables.scss';

@import '../nav-links/nav-links.scss';
@import '../dropdown/dropdown.scss';
@import '../burger-menu/burger-menu.scss';

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.header__navigation {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.header__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: min-content;
    text-decoration: none;
}

.header__image-logo {

}

.header__divider {
    display: block;
    content: "";
    height: 31px;
    border-left: solid 1px;
    border-color: $blue;
}

.header__text-logo {
    width: 200px;
    font-family: 'Akshar', $mainFont, Arial, sans-serif;
    font-size: 14px;
    color: $blue;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__nav-links {
    box-sizing: border-box;
    padding: 9px 10px 0px 14px;
    max-width: 827px;
    width: 100%;
    
}

.header__contacts {
    display: flex;
    align-content: center;
    min-width: 185px;
    max-width: 196px;
    width: 100%;
}

.header__mobile-logo, .header__phone, .header__burger-menu {
    display: none;
}

.header__mobile-logo {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.header__mobile-logo-link {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header__image-mobile-logo {
    display: flex;
    justify-content: center;
    align-content: center;

}

p.header__phone {
    padding-right: 3px;
    font-family: "Gotham pro Medium";
    color: $text1;
    letter-spacing: -0.4px;
}

@media (max-width: 1000px) {
    .header {
        margin-left: 2px;
        margin-top: 3px;
        justify-content: space-around;
    }

    .header__navigation, .header__contacts {
        display: none;
    }
    
    .header__mobile-logo, .header__phone {
        display: flex;
    }

    .header__burger-menu {
      display: flex;
      justify-content: center;
      align-content: center;
    }
}

@media (max-width: 600px) {

}