include ../nav-links/nav-links.pug
include ../contacts/contacts.pug

mixin header(options)
  -
    options = options || {};
    defaultMenu = [
      {text: "О нас", href: "/about", active: true},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "not_filled"},
        {text: "Размщение", href: "not_filled"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "not_filled"},
        {text: "Для арендатора", href: "not_filled"},
      ]},
    ]
    menu = options.menu || defaultMenu;

  header.header
    .header__navigation 
      a.header__logo(href="index.html") 
        .header__image-logo 
          img(src=require("../../images/Logo.jpg"))
        .header__divider
        .header__text-logo 
          p Медицинские профосмотры в Москве и области  
      nav.header__nav-links
        +nav-links(menu)
    .header__contacts
      +contacts()
  
       
   

    