.benefit__text.benefit__text_list {
    height: 55px;
    margin-left: 19px;
}

@media (max-width: 850px) {
    .benefit__text.benefit__text_list {
        height: 45px;
    }

    .benefit__text .benefit__text_list .benefit__heading{
        line-height: 19px;
    }
}