.dropdown.dropdown_fixed-width {
    width: 100%;
    min-width: auto;
    min-height: auto;
}

.list-of-options.list-of-options_fixed-width {
    width: 500px;
    z-index: 8;
}

.list-of-options__title-item.list-of-options__title-item_fixed-width {
    text-decoration: none;

    &:hover {
        color: $blue;
    }
}

@media (max-width: 1000px) {
    
    .list-of-options.list-of-options_fixed-width {
        width: 95%;
        margin-bottom: 0px;
        padding-top: 5.5px;
        padding-bottom: 1px;
    }
    
    .list-of-options__title-item.list-of-options__title-item_fixed-width {
        color: $text2;
    }
}