extends ../../components/mainTemplate.pug

include ../../components/nav-links/nav-links.pug
include ../../components/button/button.pug
include ../../components/radio-button/radio-button.pug
include ../../components/text-field/text-field.pug
include ../../components/contacts/contacts.pug
include ../../components/dropdown/dropdown.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Деломедика, Медецинский центр',
        description: 'Проведение профосмотров с выездом в Вашу организацию'
    };

block title
  title Деломедика
block content 
  -
    const navigation = [
      {href: "#podbor", text: "Подбор профосмотра"}, 
      {href: "#Services", 
        text_placeholder : "Услуги",
        dropdownNavLink: true,
        dropdownItems: [
          {href: "noLink", text: "Предварительные и периодические медицинские осмотры (профосмотры)"},
          {href: "noLink", text: "Личные медицинские книжки (ЛМК)"},
          {href: "noLink", text: "Психиатрическое освидетельствование"},
          {href: "noLink", text: "Предрейсовые/послерейсовые медицинские осмотры"},
          {href: "noLink", text: "Организация здравпункта на предприятии"},
          {href: "noLink", text: "Диспансеризация"},
          {href: "noLink", text: "Вакцинация"},
          {href: "noLink", text: "Помощь в организации аттестации рабочих мест (СОУТ)"},
          {href: "noLink", text: "Тендерный отдел"} 
        ]
      },
      {href: "/about", text: "О медцентре"},
      {href: "/gallery", text: "Галерея"},
      {href: "/thanks", text: "Благодарности"},
      {href: "/license", text: "Лицензии"},
      {href: "/contacts", text: " Контакты"},
    ];

  +nav-links(navigation)
  .buttons-block
    +button(['standard', 'Получить коммерческое предложение'])
    .button-cont
      +button(['arrow-big', 'Рассчитать стоимость'])
    .button-cont
      +button(['arrow-small', 'Далее'])
    .button-cont
      +button(['arrow-blue', 'Назад'])
    +radio-button({text: "Требуется выездная бригада"})
    +radio-button({text: "В медцентре"})
    +text-field({id: 'phone', type: 'phone'})
    +text-field({id: 'number', type: 'number', placeholder: "Введите число"})
    +contacts()
    +dropdown({text_placeholder: "Услуги", content: ["Вакцинация", "Тендерный отдел"]})
   
    