extends ../../components/mainTemplate.pug

include ../../components/button/button.pug
include ../../components/radio-button/radio-button.pug

block variables 
  -
    const keywords_and_description = {
        keywords: 'Деломедика, Медецинский центр',
        description: 'Проведение профосмотров с выездом в Вашу организацию'
    };

block title
  title Деломедика
block content 
  .buttons-block
    +button(['standard', 'Получить коммерческое предложение'])
    +button(['arrow-big', 'Рассчитать стоимость'])
    +button(['arrow-small', 'Далее'])
    +radio-button({text: "Требуется выездная бригада"})
    +radio-button({text: "В медцентре"})

   
    