@import '../../styles/variables.scss';

@import './_phone/phone.scss';
@import './_number/number.scss';

.container-text-field input {
  text-indent: 25%;
}

.text-field {
  position:relative;
  box-sizing: border-box;
  border: 1px solid $grey;
  border-radius: 6px;
  width: 100%;
  height: 60px;
  font-family: $mainFont;
  font-size: 13px;
  color: $text1;
  line-height: 2.5rem;
  
}

.text-field:focus {
  outline: none;
  border-color: $blue;
}

.text-field::placeholder {
  font-family: $mainFont;
  font-size: 13px;
  color: $text1;
  text-overflow: ellipsis;
  font-family: 'Montserrat';
}

.text-field:focus::placeholder {
  opacity: 0; 
  transition: 
  opacity 0.8s ease;
}

