include _phone/phone.pug
include _phone-height-s/phone-height-s.pug
include _number/number.pug

mixin text-field(options)
  if options.type === "phone"
    +phone(options)
  if options.type === "number"
    +number(options)
  if options.type === "phone-height-s"
    +phone-height-s(options)