@import '../dropdown/dropdown.scss';

.contacts {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.contacts__email {
    font-family: $mainFont;
    font-size: 14px;
    color: $text;
    text-decoration: none;
}

.contacts__phone {
    margin-top: 7px;
    font-family: "Gotham pro Medium";
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 0.1px;
    color: $text1;
    text-decoration: none;
}

.contacts__geo {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 16px;
    font-family: $mainFont;
    font-size: 14px;
    color: $text;
}

.contacts__geo-dropdown {
    margin-left: 4px;
    border-color: $blue;
    color: $blue;
}